<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Atlases/Player/Nicke/Walk/Knife/000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>Atlases/Player/Nicke/Walk/Knife/001.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,0},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>Atlases/Player/Nicke/Walk/Knife/002.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>Atlases/Player/Nicke/Walk/Knife/003.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>Atlases/Player/Nicke/Walk/Knife/004.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,0},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>Atlases/Player/Nicke/Walk/Knife/005.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,0},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>Atlases/Player/Nicke/Walk/Knife/006.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>Atlases/Player/Nicke/Walk/Knife/007.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,0},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Knife.png</string>
			<key>realTextureFileName</key>
			<string>Knife.png</string>
			<key>size</key>
			<string>{256,45}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>45</integer>
		</dict>
	</dict>
</plist>