<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Atlases/Enemy/Colombians/sprColombianWalkMendoza/000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{45,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,24}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianWalkMendoza/001.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,0},{45,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,24}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianWalkMendoza/002.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,0},{45,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,24}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianWalkMendoza/003.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,0},{45,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,24}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianWalkMendoza/004.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{45,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,24}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianWalkMendoza/005.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,0},{45,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,24}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianWalkMendoza/006.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,0},{45,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,24}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianWalkMendoza/007.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,0},{45,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,24}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Mendoza.png</string>
			<key>realTextureFileName</key>
			<string>Mendoza.png</string>
			<key>size</key>
			<string>{360,24}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>360</integer>
			<key>height</key>
			<integer>24</integer>
		</dict>
	</dict>
</plist>