cocosstudio/tmp/
cocosstudio/Sounds/
cocosstudio/Music/
frameworks/cocos2d-x/cocos/2d/Debug.win32/
frameworks/cocos2d-x/external/bullet/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/recast/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/Debug.win32/
simulator/
*.obj
*.tlog
*.log
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/CrossWorld.sdf
frameworks/runtime-src/proj.win32/CrossWorld.opensdf
frameworks/runtime-src/proj.win32/CrossWorld.v12.suo
frameworks/runtime-src/proj.android/obj/
frameworks/runtime-src/proj.android/assets/
frameworks/cocos2d-x/cocos/platform/android/java/bin/
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/libs/
frameworks/runtime-src/proj.android/gen/
frameworks/runtime-src/proj.android/local.properties
frameworks/cocos2d-x/cocos/platform/android/java/local.properties
frameworks/cocos2d-x/cocos/platform/android/java/gen/
install.pyc
*.class
*.xml
.vscode/tasks.json
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/generated/source/aidl/debug/com/enhance/gameservice/IGameTuningService.java
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/generated/source/aidl/release/com/enhance/gameservice/IGameTuningService.java
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/generated/source/buildConfig/androidTest/debug/org/cocos2dx/lib/test/BuildConfig.java
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/generated/source/buildConfig/debug/org/cocos2dx/lib/BuildConfig.java
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/generated/source/buildConfig/release/org/cocos2dx/lib/BuildConfig.java
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/bundles/release/classes.jar
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/bundles/release/libs/android-async-http-1.4.9.jar
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/bundles/release/libs/com.android.vending.expansion.zipfile.jar
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/bundles/release/libs/httpclient-4.4.1.1.jar
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/incremental-safeguard/release/tag.txt
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/incremental/compileDebugAidl/dependency.store
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/incremental/compileDebugAndroidTestAidl/dependency.store
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/incremental/compileReleaseAidl/dependency.store
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/intermediates/res/resources-debug-androidTest.ap_
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/outputs/aar/libcocos2dx-debug.aar
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/outputs/aar/libcocos2dx-release.aar
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
frameworks/runtime-src/proj.android-studio/app/CrossWorld.iml
frameworks/runtime-src/proj.android-studio/proj.android-studio.iml
frameworks/cocos2d-x/cocos/platform/android/java/.d
