<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Atlases/Weapon/9mm.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,79},{11,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,6}</string>
			</dict>
			<key>Atlases/Weapon/Acid.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,81},{10,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,5}</string>
			</dict>
			<key>Atlases/Weapon/Axe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{30,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,17}</string>
			</dict>
			<key>Atlases/Weapon/Bat.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,56},{21,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,4}</string>
			</dict>
			<key>Atlases/Weapon/BigPipe.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,40},{21,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,6}</string>
			</dict>
			<key>Atlases/Weapon/BottleBroken.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,76},{12,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,4}</string>
			</dict>
			<key>Atlases/Weapon/BottleWeapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,79},{12,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,4}</string>
			</dict>
			<key>Atlases/Weapon/Butterfly.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,28},{12,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,3}</string>
			</dict>
			<key>Atlases/Weapon/Chain.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,28},{16,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,10}</string>
			</dict>
			<key>Atlases/Weapon/Chainsaw.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,51},{19,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,7}</string>
			</dict>
			<key>Atlases/Weapon/Club.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,46},{28,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,4}</string>
			</dict>
			<key>Atlases/Weapon/DoubleBarrel.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,25},{28,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,7}</string>
			</dict>
			<key>Atlases/Weapon/Famae.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,20},{23,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,11}</string>
			</dict>
			<key>Atlases/Weapon/FlameThrower.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,1},{26,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,14}</string>
			</dict>
			<key>Atlases/Weapon/Hammer.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,59},{11,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,10}</string>
			</dict>
			<key>Atlases/Weapon/Heavy.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,13},{31,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,10}</string>
			</dict>
			<key>Atlases/Weapon/Kalashnikov.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,16},{31,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,10}</string>
			</dict>
			<key>Atlases/Weapon/Knife.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,42},{12,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,3}</string>
			</dict>
			<key>Atlases/Weapon/M16.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,1},{31,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,13}</string>
			</dict>
			<key>Atlases/Weapon/Machete.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,20},{29,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,5}</string>
			</dict>
			<key>Atlases/Weapon/Magnum.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,42},{15,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,10}</string>
			</dict>
			<key>Atlases/Weapon/Mendoza.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,47},{23,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,10}</string>
			</dict>
			<key>Atlases/Weapon/MP5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,33},{21,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,12}</string>
			</dict>
			<key>Atlases/Weapon/NailGun.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,25},{17,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,13}</string>
			</dict>
			<key>Atlases/Weapon/Pipe.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,25},{21,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,3}</string>
			</dict>
			<key>Atlases/Weapon/PipeBig.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,40},{21,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,6}</string>
			</dict>
			<key>Atlases/Weapon/ShardBlade.png</key>
			<dict>
				<key>frame</key>
				<string>{{12,72},{12,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,7}</string>
			</dict>
			<key>Atlases/Weapon/Shotgun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,47},{27,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,9}</string>
			</dict>
			<key>Atlases/Weapon/Silencer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,76},{13,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,6}</string>
			</dict>
			<key>Atlases/Weapon/Skateboard.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,46},{18,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,7}</string>
			</dict>
			<key>Atlases/Weapon/SniperRifle.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,1},{39,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,10}</string>
			</dict>
			<key>Atlases/Weapon/Stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,72},{14,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,5}</string>
			</dict>
			<key>Atlases/Weapon/Sword.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,13},{26,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,6}</string>
			</dict>
			<key>Atlases/Weapon/Taser.png</key>
			<dict>
				<key>frame</key>
				<string>{{9,81},{9,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,4}</string>
			</dict>
			<key>Atlases/Weapon/ToothBrush.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,66},{13,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,7}</string>
			</dict>
			<key>Atlases/Weapon/Uzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,28},{14,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,12}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Weapons.png</string>
			<key>realTextureFileName</key>
			<string>Weapons.png</string>
			<key>size</key>
			<string>{256,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>