<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Atlases/Player/Son/Leg/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
			<key>Atlases/Player/Son/Leg/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{48,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Leg.png</string>
			<key>realTextureFileName</key>
			<string>Leg.png</string>
			<key>size</key>
			<string>{768,32}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>768</integer>
			<key>height</key>
			<integer>32</integer>
		</dict>
	</dict>
</plist>