<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Atlases/Map/Walls/redCorner.png</key>
			<dict>
				<key>frame</key>
				<string>{{8,8},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>Atlases/Map/Walls/sprBrickWallH.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,8}</string>
			</dict>
			<key>Atlases/Map/Walls/sprBrickWallV.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{8,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,32}</string>
			</dict>
			<key>Atlases/Map/Walls/sprWallH.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,0},{32,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,8}</string>
			</dict>
			<key>Atlases/Map/Walls/sprWallV.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,8},{8,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,32}</string>
			</dict>
			<key>Atlases/Map/Walls/whiteCorner.png</key>
			<dict>
				<key>frame</key>
				<string>{{16,8},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Walls.png</string>
			<key>realTextureFileName</key>
			<string>Walls.png</string>
			<key>size</key>
			<string>{128,64}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
</plist>