<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/001.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/002.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/003.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/004.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/005.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/006.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/007.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/008.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/009.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/010.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/011.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/012.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/013.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/014.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/015.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/016.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
			<key>Atlases/Enemy/Colombians/sprColombianDieUzi/020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Dead000.png</string>
			<key>realTextureFileName</key>
			<string>Dead000.png</string>
			<key>size</key>
			<string>{1260,40}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1260</integer>
			<key>height</key>
			<integer>40</integer>
		</dict>
	</dict>
</plist>